.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px;

}

.container-letters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.letters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 4px;
  width: 42px;
  height: 42px;
  
  background-color: gray;
  border-radius: 8px;
}

.container-alphabet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  gap: 4px;
}

.container-alphabet button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 4px 0px;

  width: 48px;
  height: 48px;
  
  border: none;
  border-radius: 12px;
  
  background-color: lightgrey;
  color: black;
}

button:active {
  background-color: blanchedalmond;
}

.green {
  background-color: green
}

.yellow {
  background-color: yellow;
  color: black;
}
