.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 12px;

}

.container-header {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.container-header button, select {
  margin: 0 8px;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid lightgrey;
}

.container-header button {
  background-color: transparent;
}

.container-header button:active {
  background-color: rgba(211, 211, 211, 0.300);
} 

.container-letters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.letters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 4px;
  width: 42px;
  height: 42px;
  
  background-color: gray;
  border-radius: 8px;
}

.container-alphabet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
  gap: 4px;
}

.container-alphabet button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 8px 0px;
  
  border: none;
  border-radius: 12px;
  
  background-color: lightgrey;
  color: black;
}

.container-alphabet button:active {
  background-color: blanchedalmond;
}

.row-alphabet {
  display: flex;
  gap: 1px;
}

.green {
  background-color: green
}

.yellow {
  background-color: yellow;
  color: black;
}

.action {
  background-color: lightblue !important;
}

@media (min-width: 600px) {
  .container-alphabet button {
    min-width: 48px;
    min-height: 48px;
  }

  .row-alphabet {
    gap: 4px;
  }
}